<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<title> Fb Login </title>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/custom.css" rel="stylesheet">
</head>

<body>

<!--<script src="static/js/custom.js"></script> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a href="http://localhost:8000" class="glyphicon glyphicon-home btn btn-lg navbar-left" role="button"> </a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role=" button" aria-haspopup="true" aria-expanded="false">Filter by <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="filters">Author</a></li>
            <li><a href="#" class="filters">Owner</a></li>
            <li><a href="#" class="filters">Title</a></li>
          </ul>
        </li>
        <label id="filter-value" class="navbar-text">Title</label>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id ="search-bar" type="text" class="form-control search-text" placeholder="Search">
        </div>
        <button id="submit-button" type="submit" class="btn btn-default">Submit</button>
      </form>
      <div class="nav navbar-nav navbar-right fb-button">
        <div id="fb" style="display:none">
          <fb:login-button  size="large" scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
        </div>
        <div id="status">
        </div>
      </div>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <table id="table" class="hidden table-responsive table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Availability</th>
    </tr>
    </thead>
  </table>
</div>
</body>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
      document.getElementById("fb").setAttribute("style", "");
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
        document.getElementById("fb").setAttribute("style", "");
        document.getElementById('status').innerHTML = 'Facebook Login';

    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
      appId      : '300638663615450',
      xfbml      : true,
      version    : 'v2.6'
    });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.

  function createCookie(name,value,days) {
    if (days) {
        var date = new Date();
        date.setTime(date.getTime()+(days*24*60*60*1000));
        var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

function eraseCookie(name) {
    createCookie(name,"",-1);
}

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=id,name,email,first_name,last_name', function(response) {
      console.log('Successful login for: ' + response.name);

      var data = response;
      console.log('response',response);
      data = JSON.stringify(data);

      fetch("/login/",
      {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: "POST",
        body: data
      })
      .then(function(res){ return res.json(); })
      .then(function(json){
          document.createCookie('Token',json.token,1000);
       })
      });
  }

</script>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

<script>
 $(document).on('click', '.filters', function() {
    var filterLabel = document.getElementById('filter-value');
     filterLabel.textContent = this.text;
  });

$(document).on('click','#submit-button',function(){
  var filterValue = document.getElementById('filter-value').textContent.toLowerCase();
  var searchTerm = document.getElementById('search-bar').value.toLowerCase();
  var searchQuery = "/books/?" + filterValue +  "=" + searchTerm;
  fetch(searchQuery)
    .then(function(response){
      if(response.status!==200){
        console.log("problem with response" + response.status);
        return;
      }
      response.json().then(function(data){
        if(data){
          console.log(data);
          var len = data.results.length;
          var text = "";
          if(len>0){
            for(var i=0;i<len;i++){
              if(data.results[i].title && data.results[i].author){
                text +="<tr><td>"+data.results[i].id+"</td><td>"+data.results[i].title+"</td><td>"+data.results[i].author+"</td><td>"+data.results[i].availability+"</td></tr>";
              }
            }
            if(text != ""){
              $("#table").append(text).removeClass("hidden");
            }
          }
        }
      });
    })
});

</script>
</html>
